        <p class="footer">Application built by David (@safari137 - freecodecamp)</p>
        <p class="footer">Github Repository: <a href="https://github.com/safari137/voting_app">https://github.com/safari137/voting_app</p>
    </body>
</html>