<% include ./partials/header.ejs %>
<div class="container text-center">
<h1>My Polls</h1>
<div class="content-container polls">
    
    <% if (user.polls.length < 1) { %>
        <h3>No Polls</h3>
    <% } %>
    
    <% user.polls.forEach(function(poll) { %>
        <a href="/poll/<%= poll._id %>">
            <div class="poll">
                <%= poll.title %>
            </div>
        </a>
        
    <% }) %>
</div>

<% include ./partials/footer.ejs %>

</div>

<script src="https://code.jquery.com/jquery-2.2.1.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>